<div class="row">
  <div class="col-md-6">
    <table class="table table-stripped table-bordered" id="vms">
      <thead>
        <tr>
          <th>Virtual Machine</th>
          <th>Power State</th>
          <th>CPUs</th>
          <th>Memory</th>
          <th>Tools</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>

    <div id="loading" class="panel panel-default">
      <div class="panel-body">
        <img src="/assets/ajax-loader.gif" />
        Loading Virtual Machine definitions, please wait...
      </div>
    </div>
  </div>

  <div id="vm-details" class="col-md-6">
  </div>
</div>

<div class="modal" id="vm-console-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <iframe id="vm-console-iframe" src=""></iframe>
    </div>
  </div>
</div>
