h3 {
  margin-top: 0;
  margin-bottom: 20px;
}

th {
  text-align: center;
}

#vms {
  display: none;
}

#vms td a {
  padding: 0 5px;
}

#vms td button {
  margin: 0 5px;
}

#vms td.vm-state, #vms td.vm-cpu, #vms td.vm-memory, #vms td.vm-tools, #vms td.vm-actions {
  text-align: center;
}

#vm-details div.panel-heading {
  padding: 5px;
}

#vm-details div.panel-body {
}

#vm-details-table td {
  text-align: center;
}

#vms ul.dropdown-menu {
  text-align: left;
}

ul.dropdown-menu {
  padding: 5px;
}

#loading img {
  padding-right: 15px;
}

#vm-summary {
  text-align: right;
}

#vm-console-modal div.modal-dialog {
  width: 820px;
}

#vm-console-modal div.modal-content {
  width: 820px;
  padding: 10px;
}

iframe {
  width: 800px;
  height: 600px;
}

.progress-bar[aria-valuenow="1"], .progress-bar[aria-valuenow="2"] {
  min-width: 30px;
}
